{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}
{% block body_block %}
        <div class = "page-header">
            <h1><b>Rango says {{message}}</b><br />
            <small>Number of visits: {{ visits }}</small></h1><br />
            This tutorial has been put together by Ivan Kyosev, 2092065k.<br />
        </div>
        <div>
            <img src="{% static "images/snake.jpg" %}" alt="Picture of the Snake" width = "650" height = "480" />
            <img src="{% static "images/pic.jpg" %}" alt="Picture of me"  width = "360" height = "480"/> 
        </div>
{% endblock %}
