{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}
{% block body_block %}

    {% if editing_done %}
        <div class="page-header">
            <h1>Your profile has been edited!</h1>
        </div>
    {% else %}    
        <div class = "page-header"><h1>Edit Profile</h1></div>
            <form role="form" id = "user_form" method = "post" action = "{% url 'edit_profile' %}" enctype = "multipart/form-data">
                {% csrf_token %}
                {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary">Complete</button>
            </form>
    {% endif %}
{% endblock %}