{% extends 'rango/base.html' %}

{% block title %}Users{% endblock %}
{% block body_block %}
    
    <div class="page-header">
            <h1>Users of Rango</h1>
    </div>
    
    {% if users %}
        <div class="col-sm-5">
        <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item"><a href="{% url 'profile' user.username %}">{{user.username}}</a></li>
        {% endfor %}
        </ul>
        </div>
    {% else %}
        Rango has no users.... yet...
    {% endif %}
    
    
{% endblock %}